.fn-designer-container {
    padding-top: 10px;
}

.fn-designer-panel {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 45px 15px 15px;
    margin: 20px;
    border-style: solid;
}

.fn-designer-trigger > .fn-designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Trigger";
}


.fn-designer-inputs > .fn-designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Inputs";
}


.fn-designer-outputs > .fn-designer-panel:after {
    position: absolute;
    top: -21px;
    background-color: white;
    padding: 5px;
    left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #868686;
    content: "Outputs";
}