// $font-stack:    Helvetica, sans-serif;
// $primary-color: #333;

$danger-color: #d9534f;
$success-color: #30D00F;
$warning-color: #FFA81E;

$frame-color: #E6E7E8;
$dashboard-color: #FFFFFF;


$border-color: #DEDEDE;
$border-selection-color: #419BF3;

$input-bg-color: #FFFFFF;
$input-border: 2px solid $border-color;

$button-bg-color: #539CF6;
$button-font-color: #fff;
$button-dull-color: darken($frame-color, 20%);
$button-dirty-color: $danger-color;
$button-disabled-color: darken($frame-color, 20%);

$link-color: #419BF3;

$topbar-height: 40px;
$sidebar-width: 300px;
$sidebar-menu-height: 95px;
$treeview-root-height: 40px;
